# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/
out/

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# SonarLint plugin
.idea/sonarlint/